<form action=<%= action %> method="POST" >
  <%= auth_token %>
  <input type="hidden" name="_method" value=<%= method %>
  <label> Band name:
    <input type="text" name="band[name]" id="band_name" value="<%= @band.name %>" >
  </label>
  <input type="submit" value="Submit">
</form>
